* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

header {
  overflow: hidden;
  background-color: #242222;
  margin-bottom: 40px;
  height: 100pt;
}

.centrarheader {
  width: 80%;
  margin: auto;
}

.centrartexto {
  width: 90%;
  max-width: 8800px;
  margin: auto;
  overflow: visible;
}

header .logo {
  color: #dacecc;
  font-size: 80px;
  line-height: 140px;
  float: left;
  margin-left: -50pt;
}

header nav {
  float: right;
  line-height: 140px;
}

header nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
}

header nav a:hover {
  /*Efecto al estar encima del a */
  background-color: #ffffff;
  border-radius: 50px;
  color: black;
}

.nombre {
  font-size: 13pt;
  font-style: italic;
}

.carta {
  width: 18%;
  min-height: 250px;
  height: auto;
  float: left;
  margin: 3%;
  border: 5px solid;
  text-align: center;
  margin-left: 7%;
  background-color: white;
}

.borde:hover {
  border: 2px solid #242222;
  font-size: 17pt;
  color: #1513ac;
}

.header_carta {
  padding-top: 1%;
  height: 23pt;
  background-color: #dfd2d2;
  color: black;
}

.carta_texto {
}
