* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: #f9f9f9;
}

/* Estilos del Header */
/* < */
.header {
  background-color: #c30e0e;
  outline: 5px solid #a13232;
  height: 5rem;
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 1.25rem;
}

.logo {
  font-size: 3.125rem;
  font-weight: bold;
  padding-left: 1.0625rem;
  line-height: 5rem;
  color: #ffff;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin-left: 0;
  margin-right: 1.125rem;
  font-weight: bold;
}

.nav-menu-item {
  font-size: 1.25rem;
  line-height: 4.6875rem;
  text-transform: uppercase;
  width: max-content;
  padding: 0.25rem;
  display: inline-block;
}

.nav-menu-link {
  padding: 0.5rem 0.75rem;
  border-radius: 0.1875rem;
  color: #ffff;
  text-decoration: none;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #ffff;
  border-radius: 0.625rem;
  color: black;
  margin: 0.625rem;
  transition: 0.3s;
}

/* btn_menu_hamburguesa */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 2.1875rem;
  /* padding-right: 2px; */
  /* line-height: 20px; */
  cursor: pointer;
  display: none;
}

/*Estilos para el Contenedor de las Cartas */
.container {
  width: 89%;
  margin: 2.6rem auto;
}

.contenedor_titulo {
  text-align: center;
  font-size: 18px;
  color: black;
}

.contenedor_cartas {
  border: 1px solid #1a1919;
  border-radius: 24px;
  background-color: #e9eaeb;
  flex-direction: row;
  margin: 0.5rem auto;
  max-width: 66.875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.borde:hover {
  font-size: 0.875rem;
  color: #0d0abe;
  padding-left: 0.125rem;
}

.header_carta {
  background-color: #f8f8f8;
  border-bottom: 0.125rem solid #e2a7a7;
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem 0.625rem;
  color: #000;
  font-size: 0.8125rem;
  font-weight: bold;
}

.carta {
  width: 15.9375rem; /*Si colocas % en el widht o el height  se va a estar reduciendo su tamaño segun la pantanlla PERO no funcionar el flex wrap*/
  height: 20.7rem;
  margin: 1.28rem 2.2rem;
  border: 0.125rem solid #e2a7a7;
  border-radius: 7px;
  text-align: center;
}

.carta_cuerpo {
  padding: 0.3125rem 1rem;
  text-align: center;
  font-size: 1.0625rem;
}

.carta_img {
  padding-top: 0.4375rem;
}

.carta_buttom {
  font-size: 16pt;
  display: block;
  color: #fff;
  text-align: center;
  background-color: red;
  width: 12.5rem;
  margin: auto;
  margin-top: 0.25rem;
  padding: 0 0.3125rem;
}

.carta_buttom:hover {
  font-size: 20pt;
  transition: 0.7s;
  background-color: #aa1717;
  border: 2px normal #000;
  margin-top: 4px;
  padding: 0 0px;
}

/* Diseño Responsive */
@media (max-width: 1024px) {
  .header {
    height: 66px;
  }

  .logo {
    padding-top: 2px;
    font-size: 30px;
    padding-left: 5px;
    line-height: 69px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #2c3e50;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #83c5f7;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}
