* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: #f9f9f9;
}

/* Estilos del Header */

.header {
  background-color: #c30e0e;
  outline: 5px solid #a13232;
  height: 80px;
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.nav-link {
  color: #000;
  text-decoration: none;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  padding-left: 17px;
  line-height: 80px;
  color: #ffff;
}

.nav-menu {
  display: flex;
  /* margin-right: 40px; */
  list-style: none;
  margin-left: 0;
  margin-right: 18px;
  font-weight: bold;
}

.nav-menu-item {
  font-size: 20px;
  line-height: 75px;
  text-transform: uppercase;
  width: max-content;
  padding: 4px;
  display: inline-block;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
  color: #ffff;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #ffff;
  border-radius: 10px;
  color: black;
  margin: 10px;
  transition: 0.3;
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 35px;
  /* padding-right: 2px; */
  /* line-height: 20px; */
  cursor: pointer;
  display: none;
}

/* Contenedor Cartas */
.container {
  width: 84%;
  margin: 40px auto;
  background-color: #f9f9f9;
}

.contenedor_titulo {
  text-align: center;
  font-size: 17pt;
  color: black;
}

.contenedor_cartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin: 10px auto;
  max-width: 1070px;
}

.borde:hover {
  font-size: 14pt;
  color: #0d0abe;
  padding-left: 2pt;
}

.header_carta {
  /* padding-top: 2%;
  height: 27pt;
  background-color: #cccccc;
  color: #000000;

  /* border: 2px solid #636161; */
  outline: 2px solid #636161;
  text-align: center;
  padding: 8px 10px;
  color: #000;
  font-size: 13pt;
  font-weight: bold;
}

.carta {
  /* min-width: 140px; */
  width: 255px; /*Si colocas % en el widht o el height  se va a estar reduciendo su tamaño segun la pantanlla PERO no funcionar el flex wrap*/
  height: 254pt;
  margin: 25px 37px;
  border: 2px solid #636161;
  text-align: center;
  left: 7px;
}

.carta_cuerpo {
  /* position: absolute;
  left: 20%;
  top: 215px; */
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
}

.carta_img {
  padding-top: 5pt;
}

.carta_buttom {
  font-size: 20pt;
  display: block;
  color: #fff;
  text-align: center;
  background-color: red;
  width: 200px;
  margin: auto;
  margin-top: 4px;
  padding: 0 5px;
}

.carta_buttom:hover {
  font-size: 20pt;
  transition: 0.7s;
  background-color: #aa1717;
  border: 2px normal #000;
  margin-top: 4px;
  padding: 0 0px;
}

@media (max-width: 1024px) {
  .header {
    height: 66px;
  }

  .logo {
    padding-top: 2px;
    font-size: 30px;
    padding-left: 5px;
    line-height: 69px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #2c3e50;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #83c5f7;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}
